@using Articulate
@using Articulate.Models
@inherits UmbracoViewPage<Articulate.Models.IMasterModel>

@{
    var recent = Umbraco.GetRecentPosts(Model, 5);
}

<div class="widget recentposts">
    <h4>Recent posts</h4>
    <div class="content">
        <ul class="recentPosts" id="recentPosts">
            @foreach (var post in recent)
            {
                <li>
                    <a href="@post.Url">
                        <h4>
                            @post.Name
                        </h4>
                        <span><small><i class="fa fa-calendar iconBefore"></i> @post.PublishedDate.ToString("dd/MM/yyyy")</small></span>
                        @if (!post.PostImageUrl.IsNullOrWhiteSpace())
                        {
                            var thumbnail = post.GetCropUrl("postImage", "thumbnail");
                            if (!thumbnail.IsNullOrWhiteSpace())
                            {
                                <img class="thumb" src="@thumbnail" alt="@post.Name" />
                            }
                        }
                        <p>@post.Excerpt&hellip;</p>
                        <span class="read-more" href="@post.Url">Lees verder<i class="fa fa-chevron-right iconBehind"></i></span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>