@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.StudiedagProgrammaRoot>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "BasePage.cshtml";
}


@Umbraco.RenderMacro("Breadcrumb")

<div class="content">
    @Html.Partial("SiteComponents/PageBanner")

    <section class="BodyContent">
        <div class="row">
            <div class="container">
                
                <section class="intro">
                    <p>@Umbraco.Field("intro", encoding: RenderFieldEncodingType.Html)</p>
                </section>
               
                <section class="bodycontent">
                    @Html.Raw(Umbraco.Field("bodyTekst"))
                </section>
            </div>
        </div>
        
                <div class="row">
            <div class="container">
                @Umbraco.RenderMacro("ProgrammaStudiedag")
                </div>
                </div>
</div>


