@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var rootPage = Umbraco.TypedContentAtRoot().First();
    var selection = rootPage.GetPropertyValue<IEnumerable<IPublishedContent>>("secondLevelNavigation");
    var blockOneItems = rootPage.GetPropertyValue<IEnumerable<IPublishedContent>>("footerBlock1");
    var blockTwoItems = rootPage.GetPropertyValue<IEnumerable<IPublishedContent>>("footerBlock2");
    var blockThreeItems = rootPage.GetPropertyValue<IEnumerable<IPublishedContent>>("footerBlock3");
    var blockFourItems = rootPage.GetPropertyValue<IEnumerable<IPublishedContent>>("footerBlock4");
}

<div class="footer-col-inner col-sm-6">
    <h4 class="Title">@Html.Raw(rootPage.GetPropertyValue("footerBlock1Title"))</h4>
    <ul class="FooterNav">
        @foreach (var id in blockOneItems)
        {
            <li><a href="@id.Url">@id.GetPropertyValue("displayName")</a></li>
        }
    </ul>
    <h4 class="Title">@Html.Raw(rootPage.GetPropertyValue("footerBlock2Title"))</h4>
    <ul class="FooterNav">
        <li><a href="#"><i class="icon icon-locked iconBefore"></i>Aanmelden</a></li>
        <li><a href="#"><i class="icon icon-request iconBefore"></i>Ik ben nog geen lid</a></li>
        <li><a href="#"><i class="icon icon-sys-help-2 iconBefore"></i>Paswoord vergeten?</a></li>
    </ul>
</div>
<div class="footer-col-inner col-sm-6">
    <h4 class="Title">@Html.Raw(rootPage.GetPropertyValue("footerBlock3Title"))</h4>
    <ul class="FooterNav">
        @foreach (var id in blockThreeItems)
        {
            <li><a href="@id.Url">@id.GetPropertyValue("displayName")</a></li>
        }
    </ul>
    <h4 class="Title">@Html.Raw(rootPage.GetPropertyValue("footerBlock4Title"))</h4>
    <ul class="FooterNav">
        @foreach (var id in blockFourItems)
        {
            <li><a href="@id.Url">@id.GetPropertyValue("displayName")</a></li>
        }
    </ul>
</div>