@using Articulate
@using Articulate.Models
@using Umbraco.Core
@using Umbraco.Web
@model Articulate.Models.ListModel
@{
    Layout = "Master.cshtml";
}
<div class="col-md-8 col-sm-7 main">
    @if (!Model.Children.Any())
    {
    <header>
        <p><strong>0</strong> artikels</p>
    </header>
    }
    else
    {

    <header>
        @if (Model.Children.Count() > 1)
            {
            <p><strong>@Model.Children.Count()</strong> artikels</p>

            }
            else
            {
            <p><strong>1</strong> artikel</p>
            }



    </header>

        foreach (var post in Model.Children<PostModel>())
        {
    <article class="news-item has-divider clearfix row">
        <a href="@post.Url">
            <h3>
                @post.Name
            </h3>
            <figure class="thumb col-md-2 col-sm-3 col-xs-4">
                @if (!post.PostImageUrl.IsNullOrWhiteSpace())
                {
                    var thumbnail = post.GetCropUrl("postImage", "thumbnail");
                    if (!thumbnail.IsNullOrWhiteSpace())
                    {
                        <img class="img-responsive" src="@thumbnail" alt="@post.Name" />
                    }
                }
            </figure>
            <div class="details col-md-9 col-sm-8 col-xs-7 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                <span class="ArticleMetaData">
                    <small>
                        <i class="si si-calendar iconBefore"></i> @post.PublishedDate.ToString("dd/MM/yyyy")
                        - <i class="si si-customer iconBefore"></i> @post.Author.Name
                    </small>
                </span>
                <p>
                    @post.Excerpt&hellip;
                </p>
                <span class="read-more">Lees verder<i class="fa fa-chevron-right iconBehind"></i></span>

            </div>
        </a>
    </article>
        }

    <footer>
        @Html.ThemedPartial(Model, "Pager", Model.Pages)
    </footer>
    }
</div>
<aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
    @Html.ThemedPartial(Model, "SideWidgets")
</aside>

@section breadCrumb{
    <ul class="breadcrumb">
        <li><a href="/">Home</a><span class="divider"></span></li>
        <li class="active">@Model.Name</li>
    </ul>
}
