@using Articulate
@using Umbraco.Core
@model Articulate.Models.PostModel
@{
    Layout = "Master.cshtml";
    ViewBag.CssBodyClass = "post-template tag-sublime tag-javascript";
}
<div class="col-md-8 col-sm-7 main">
    <article class="news-item has-divider clearfix row">
        <header>
            <h2 class="post-title">@Model.Name</h2>
            <span class="ArticleMetaData">
                <time datetime="@Model.PublishedDate.ToString("dd/MM/yyyy")">
                    <small><i class="si si-calendar iconBefore"></i> @Model.PublishedDate.ToString("dd/MM/yyyy")</small>
                </time> -
                <small>
                    <strong><i class="si si-customer iconBefore"></i>@Model.Author.Name</strong>
                </small>
               </span>
        </header>
        <figure class="main-image">
            @if (!Model.PostImageUrl.IsNullOrWhiteSpace())
            {
                var thumbnail = Model.GetCropUrl("postImage", "fullsize");
                if (!thumbnail.IsNullOrWhiteSpace())
                {
                    <img class="img-responsive" src="@thumbnail" alt="@Model.Name" />
                }
            }
        </figure>

        <section class="post-content">
            @Model.Body
        </section>

        <footer class="post-footer">


        </footer>

    </article>
</div>
<aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
    @Html.ThemedPartial(Model, "SideWidgets")
</aside>


@section breadCrumb{
    <ul class="breadcrumb">
        <li><a href="/">Home</a><span class="divider"></span></li>
        <li><a href="/nieuws">Nieuws</a><span class="divider"></span></li>
        <li class="active">@Model.Name</li>
    </ul>
}